<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventure detail - Wild Adventures</title>
</head>
<body>
<header lang="en" th:replace="fragments/header :: header"></header>
<nav lang="en" th:replace="fragments/nav :: nav"></nav>
<div class="container text-center" th:style="back">
    <div class="col-md-12 mt-5 mb-5">

        <div class="row">
            <div>
                <div class="text-white ml-auto mr-auto w-75 pt-2 pb-2" th:style="'background-color:' + ${adventure.categoryColor}"
                     th:text="${adventure.name} + ' (' + ${adventure.categoryName}  +')'"></div>

                <img id="adventures-img" th:src="${adventure.image}" class="card-img-top mb-4 w-75" />
                <h6 th:text= "${adventure.description}" class="w-75 ml-auto mr-auto mb-4"></h6>
                <div class="block">
                    <i class="fa d-inline-block fa-calendar m-2"></i><p class="d-inline-block" th:text="| Started date: ${#temporals.format(adventure.date, 'dd-MM-yyyy')} |"></p>
                </div>
                <div class="block">
                    <i class="fa d-inline-block fa-ticket m-2"></i><p class="d-inline-block" th:text= "| Available places: ${adventure.maxEntrant}|"></p>
                </div>
                <div th:if="${adventure.getMaxEntrant() > 0}">
                    <form action='/charge' method='POST' id='checkout-form'>
                        <input type='hidden' th:value='${amount}' name='amount' />
                        <input type='hidden' th:value='${client.getFirstname() + " " + client.getLastname()}' name='name' />
                        <input type='hidden' th:value='${client.getEmailAddress()}' name='email' />
                        <input type='hidden' th:value='${adventure.getName()}' name='adventure' />
                        <input type="submit" th:value="|Book for ${adventure.price} €|" class="btn btn-success d-inline-block w-25"/>
                        <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
                        <script
                                src='https://checkout.stripe.com/checkout.js'
                                class='stripe-button'
                                th:attr='data-key=${stripePublicKey},
                                 data-amount=${amount},
                                 data-currency=${currency}'
                                data-name='Wild Adventure'
                                data-description='Book an adventure'
                                th:data-image='@{/img/logo.png}'
                                data-locale='en'
                                data-zip-code='false'>
                        </script>
                        <script>
                            // Hide default stripe button, be careful there if you
                            // have more than 1 button of that class
                            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer lang="en" th:replace="fragments/footer :: footer"></footer>
</body>
</html>