<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventures - Wild Adventures</title>
</head>
<body>
<header lang="en" th:replace="fragments/header :: header"></header>
<link rel="stylesheet" type="text/css" th:href="@{/css/adventures.css}"/>
<nav lang="en" th:replace="fragments/nav :: nav"></nav>
<div class="container">
    <div class="col-md-12 mt-5 mb-5">
        <h1>Adventures</h1>
        <div class="row">
            <div class="filter-basic">
                <div class="filter-nav mb-5 mt-5">
                    <button class="btn btn-primary filter-button" data-filter="all">All</button>
                    <button class="btn btn-default filter-button" data-filter="evasion">Evasion</button>
                    <button class="btn btn-default filter-button" data-filter="cultural">Cultural</button>
                    <button class="btn btn-default filter-button" data-filter="sport">Sport</button>
                    <button class="btn btn-default filter-button" data-filter="cruise">Cruise</button>
                </div>
                <div th:each="adventure : ${adventures}" th:class="'col-md-5 filter ' + ${adventure.categoryName}" id="adventure">
                    <div>
                        <div class="each-item mb-5">
                            <a th:href="@{|/adventures/${adventure.id}|}" >
                                <div class="hovereffect">
                                    <img id="adventures-img" th:width="200" th:height="250" th:src="${adventure.image}"  class="card-img-top mb-2 img-responsive" />
                                    <div class="overlay">
                                        <h2 th:style="'color:' + ${adventure.categoryColor}" th:text="${adventure.name} + ' - ' + ${adventure.categoryName}">category</h2>
                                    </div>
                                </div>
                                <h5 th:text= "${adventure.name}"></h5>
                            </a>
                            <h6 id="adventure-description" th:text= "${adventure.description}"></h6>
                            <div class="block">
                                <i class="fa d-inline-block fa-calendar m-2"></i><p class="d-inline-block" th:text="| Started date: ${#temporals.format(adventure.date, 'dd-MM-yyyy')} |"></p>
                            </div>
                            <div class="block">
                                <i class="fa d-inline-block fa-ticket m-2"></i><p class="d-inline-block" th:text= "| Available places: ${adventure.maxEntrant}|"></p>
                            </div>
                            <span th:text= "| ${adventure.price} €|" class="w-25 badge badge-success badge-primary"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer lang="en" th:replace="fragments/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/js/adventures.js}"></script>
</body>
</html>