<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About - Wild Adventures</title>
</head>
<body>
<header lang="en" th:replace="fragments/header :: header"></header>
<nav lang="en" th:replace="fragments/nav :: nav"></nav>
<div class="container">
    <div class="col-md-12 mt-5 mb-5">
        <h1>About us</h1>
        <div class="row">

        </div>
    </div>
</div>
<footer lang="en" th:replace="fragments/footer :: footer"></footer>
</body>
</html>