<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventures - Trip</title>
</head>
<header lang="en" th:replace="fragments/header :: header"></header>
<body>
<nav lang="en" th:replace="fragments/nav :: nav"></nav>
<div class="container">
    <h1>Adventures</h1>

    <div class="row">
        <div th:each="category : ${adventures}" class="col-md-4 my-1">
            <a th:href="@{|/adventures/${category.id}|}" >
                <img id="adventures-img" th:width="200" th:height="200" th:src="${category.image}"  class="card-img-top" />
                <h5 th:text= "${category.name}"></h5>
            </a>
            <h6 th:text= "${category.description}"></h6>
            <div class="block">
                <i class="fa d-inline-block fa-calendar m-2"></i><p class="d-inline-block" th:text="| Started date: ${#dates.format(category.date, 'MM-dd-yyyy HH:mm')}|"></p>
            </div>
            <div class="block">
                <i class="fa d-inline-block fa-ticket m-2"></i><p class="d-inline-block" th:text= "| Maximum Entrance: ${category.maxEntrant}|"></p>
            </div>
            <span th:text= "| ${category.price} $|" class="badge badge-pill badge-primary"></span>
        </div>
    </div>
</div>
</body>
<footer lang="en" th:replace="fragments/footer :: footer"></footer>
</html>