<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Contact - Wild Adventures</title>
</head>
<body>
<header lang="en" th:replace="fragments/header :: header"></header>
<nav lang="en" th:replace="fragments/nav :: nav"></nav>
<div class="container">
	<h1>Adventures</h1>

	<div class="row">
		<div th:each="adventure : ${adventures}" class="col-md-4 my-1">
			<a th:href="@{|/adventures/${adventure.id}|}" >
				<img id="adventures-img" th:width="200" th:height="200" th:src="${adventure.image}"  class="card-img-top" />
				<h5 th:text= "${adventure.name}"></h5>
			</a>
			<h6 th:text= "${adventure.description}"></h6>
			<div class="block">
				<i class="fa d-inline-block fa-calendar m-2"></i><p class="d-inline-block" th:text="| Started date: ${#dates.format(adventure.date, 'MM-dd-yyyy HH:mm')}|"></p>
			</div>
			<div class="block">
				<i class="fa d-inline-block fa-ticket m-2"></i><p class="d-inline-block" th:text= "| Maximum Entrance: ${adventure.maxEntrant}|"></p>
			</div>
			<span th:text= "| ${adventure.price} $|" class="badge badge-pill badge-primary"></span>
		</div>
	</div>
</div>
<footer lang="en" th:replace="fragments/footer :: footer"></footer>
</body>
</html>