<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wild Adventures</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>

<body id="page-top">
<header lang="en" th:replace="fragments/header :: header"></header>
<!-- Navigation -->
<nav lang="en" th:replace="fragments/nav :: nav"></nav>

<img id="background" th:src="@{/img/background.jpg}" alt="">

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Your dream is near</h2>
                <p class="text-white-50">Run through forest, desert, mountains</p>
            </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
</section>
</body>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</html>