<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pricing - Trip</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<header lang="en" th:replace="fragments/header :: header"></header>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"/>
<body>




                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-md-offset-4">
                            <h1 class="text-center login-title">Sign in to continue to Traveland</h1>
                            <div class="account-wall">
                                <img class="profile-img" th:src="@{/traveland/images/image_2.jpg}" width="350" height="150"
                                     alt="">
                                <form class="form-signin" th:action="@{/login}" method="post">
                                    <input type="text" class="form-control" placeholder="Email" required autofocus>
                                    <input type="password" class="form-control" placeholder="Password" required>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Sign in</button>
                                    <label class="checkbox pull-left">
                                        <input type="checkbox" value="remember-me">
                                        Remember me
                                    </label>
                                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                                </form>
                            </div>
                            <a href="#" class="text-center new-account">Create an account </a>
                            <p><a href="/" th:href="@{/}">Back to home page</a></p>
                        </div>
                    </div>
                </div>


</div>
                <div class="d-flex justify-content-end" style="height: 200px;"></div>
</body>
<footer lang="en" th:replace="fragments/footer :: footer"></footer>
</html>